@import url("https://use.typekit.net/dfq3qnu.css");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-family:"ff-real-headline-pro";
  font-size: 62.5%;
  background: #FFFFFF;
}
