// .app__wrapper {
//   min-height: 48.3vw;
//   display: flex;
//   flex-direction: column;
//   align-items: center;

// }

header {
  height: 15vh;
}

main {
  margin: 0px;
  padding-bottom: 2.4rem;
  min-height: 70vh;
}

