.form__container {
  // margin-left: 1rem;
  // margin-bottom: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  border: 1.5px solid #212121;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
 

  .form {
    margin: 30px 0;
    width: 100%;
    height: max-content;


    &__title {
      padding: 0px 1rem;
      margin: 0;
      font-size: 38px;
      text-transform: capitalize;
    }

    &-form {
      width: 100%;

      &-box {
        margin-bottom: 9px;
        padding: 1rem;
        border: 1px solid #212121;

        &__container {
          display: flex;
          align-items: center;
          column-gap: 1rem;
          margin-bottom: 9px;
        }

        &__exclamation {
          width: max-content;
        }

        &__head {
          width: max-content;
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            max-width: max-content;
            font-size: 25px;

          }
        }
       
        &__upload {
          margin: 0;
          margin-bottom: 16px;
          padding: 0;
          width: max-content;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;

          input {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
            
          }
          #inputTag{
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
          }

          button {
            cursor: pointer;
            border-radius: 100px;
            background: linear-gradient(45deg, #03a9f4, #f441a5);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 36px;
            color: #ffffff;
            transition: all 0.27s ease;

            &:hover {
              color: #ffffff;
              background-color: #9ecbf5;
            }
          }
        }
      }

      &-box-logo {
        margin-bottom: 9px;
        padding: 1rem;
        border: 1px dotted #69a6ce;

        &__container {
          display: flex;
          align-items: center;
          column-gap: 1rem;
          margin-bottom: 9px;
        }

        &__head {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: max-content;

          p {
            max-width: max-content;
            font-size: 20px;
          }
        }
      }

      &__container {
        padding: 1rem;
        display: grid;
        row-gap: 9px;

        p {
          margin: 0px;
          font-size: 16px;
        }

        input {
          outline: 2px solid transparent;
          height: 3rem;
          border: 1px solid;
          border-radius: 0.375rem;
          width: 100%;
          padding: 20px;
          margin: 10px 10px 10px 0px;
        }

        textarea {
          min-width: 0px;
          outline: 2px solid transparent;
          height: 20rem;
          border: 1px solid;
          padding: 20px;
          margin: 10px 10px 10px 0px;
          border-radius: 0.375rem;
        }
      }

      &__create {
        margin: 0;
        margin-bottom: 16px;
        padding: 0;
        width: 133px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          cursor: pointer;
          background: #808080;
          border-radius: 150px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 36px;
          color: #ffffff;
          transition: all 0.27s ease;

          &:hover {
            color: #ffffff;
            background-color: #9ecbf5;
          }
        }
      }
    }
  }
}
