.protected-areas {
  margin: 0px;
  margin-bottom: 84px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
}

// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .protected-areas {
    margin: 0px;
    margin-bottom: 84px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
}

//web
@media screen and (min-width: 64em) {
  .protected-areas {
    margin: 0px;
    margin-bottom: 84px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
}